html {
    height: 100%;
}

body {
    background-color: #0c194e;
    height: 100%;
}

/*container do produto*/
.container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    margin-left: 8%;
    width: 90%;
}

/*lado esquerdo do container do produto*/

.imagem-principal {
    justify-content: flex-end;
    max-width: 250px;
    max-height: 250px;
    background-color: #dadada;
    border-radius: 10px;

}

.lado-esquerdo img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

/*lado esquerdo do container do produto*/
/*--------------------------------------------------------------------------------------------------------*/
/*lado direito do container do produto*/
.lado-direito {
    width: 100%;
    display: flex;
}

.info-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    white-space: nowrap;
}


.opcoes {
    display: flex;
    gap: 10px;
}


.lado-direito p {
    font-size: 20px;
    font-weight: 600;
    color: #aaaaaa;
}

.preco {
    font-size: 16px;
    font-weight: 700;
    color: #00c677;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #eeeeee;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 5px;
}

.quantidade span {
    font-weight: 700;
    font-size: 15px;
}

.opcoes .atalhos {
    color: #0c194e;
    font-size: 25px;
    font-weight: 10000;
}

.opcoes .atalhos:focus {
    color: #2f4fcc;

}

.botao {
    display: inline-block;
    color: #0c194e;
    background-color: #00c677;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    font-size: 12px;
    font-weight: 700;
}

.botao:focus {
    transition: .2s;
    background-color: #008b54;

}

.descricao {
    
    border-radius: 10px;
    padding: 4%;
    scale: 0.85;
    color: #5e666d;
    white-space: wrap;
}

textarea{
    height: 80%;
    margin-right: 60px;
    border: 0;
    resize: none;
}

/*lado direito do container do produto*/
/*container do produto*/