body{
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #EBEBEB;
}
#icones ul {
    list-style-type: none;
    padding: 0;
    background: rgba(0,198,119,1);
    margin: 0;
    display: flex;
    justify-content: center;
}

#icones ul li {
    display: inline;
}

#icones li a {
    color: rgb(248, 245, 245);
    padding: 20px;
    display: inline-block; 
    text-decoration: none;
}

#icones li a:hover {
    color: rgb(197, 197, 197); 
}

.caixa-pesquisa {
    display: inline-flex;
    align-items: center;
    border-radius: 95px;
    background: rgb(236,230,240);
    padding: 5px;
    width: 600px;
    margin: 20px; 
    justify-content: space-around;
}

.campo-pesquisa {
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

.caixa-logo img {
    width: 170px;
    margin-top: 5px;
}

.caixa-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    font-size: 25px;
    color: white;
}

                                     /* --fim do cabecario */
                                

                                        /* Seção de Ofertas */



.secao-ofertas {
    display: flex;
    justify-content: space-between;
    background-color: #0C194E;
    padding: 20px;
    color: white;
    font-family: poppins, sans-serif;
}

.distancia-loja {
    display: flex;
    align-items: center;
}

.container-logo-loja {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 2px;
    width: 500px;
    height: 130px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    color: black;
    text-decoration: none;
}

.logo-loja {
    width: 130px;
    height: auto;
    padding: 8px;
    border-radius: 27px;
}

.info-distancia {
    margin-left: 30px; /* Espaçamento entre a imagem e o texto */
}

.info-distancia h3 {
    color: black; /* Cor do texto preto */
    text-decoration: none; /* Remover sublinhado se aplicável */
}

.info-distancia p {
    margin-top: 10px; /* Ajuste de margem superior para o parágrafo */
}

.distancia {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}
.produtos-container

.ofertas-diarias {
    display: flex;
    align-items: center;
}

.imagem-ofertas {
    width: 500px;
    height: 150px;
    margin-right: 80px;
}

.info-ofertas h3 {
    display: flex;
    flex-direction: column;
    margin: none;
    left: 50px;
    color: black;
    text-decoration: none;
}


.card {
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 200px;
}
.card-container {
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
}
img{
    height: 150px;
    width: 165px;

}

.btn-adicionar{
    background-color: #13CE66;
    border-style: none;
    border-radius: 6px;
    height: 40px;
    padding: 6px 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
    width: 100%;
}

.btn-retirar{
    background-color: #0C194E;
    
    border-style: none;
    border-radius: 6px;
    height: 40px;
    padding: 6px 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
    width: 100%;
}

.secao-produtos{
    scale: 0.8;
    margin: 0;
}

.divProdutosTitulos{
    display: flex;
    flex-direction: column;
    justify-content: start;
}