.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.form-imagem {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00C677;
    padding: 5rem;
    border-radius: 20px 0 0 20px;
}

.form-imagem img {
    width: 330px;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 0 20px 20px 0;
}

.form-header {
    width: 100%;
    height: 62px;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;
}

.title {
    width: 60%;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4.8px;
    background-color: #0C194E;
    border-radius: 200px;
    position: absolute;
}

.input-group {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.input-box input {
    background-color: #F3F5F9;
    padding: 5px;
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: auto;
    transition: 0.2s;
}

.input-box input:focus {
    outline: none;
    border: 1px solid #808080;
    background-color: #e0e0e0;
}

.input-box input:hover {
    background-color: #e0e0e0;
}

.botao-entrar{
    width: 100%;
   
}

.botao-entrar button{
    border: none;
    color: white;
    background-color: #0C194E;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.box-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 5%;
    margin-top: 5%;
    font-size: 15px;
}

.box-cadastro button {
    background-color: white;
    padding: 1.5% 5%;
    border-radius: 5px;
    border: solid 1px;
}

.box-cadastro button:focus {
    background-color: #e2e2e2;
}

